#preloader{
	background-color:#12356b;
	z-index: 100000;
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	color: #ccc;
	text-align: center;
	font-size: 1.5em;
}


#preloader .logo{
	background: url('../img/logo_white.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 80px;
	min-width: 80px;
	margin-bottom: 1em;
}

#preloader .loading {
	-webkit-animation: loadingAnimation 2s infinite linear;
	-moz-animation: loadingAnimation 2s infinite linear;
	-o-animation: loadingAnimation 2s infinite linear;
	animation: loadingAnimation 2s infinite linear;
	font-weight: bold;
	font-family: Roboto;
}

#preloader .loading::after {
  content: "Cargando";
}

@-webkit-keyframes loadingAnimation {
	0% { opacity: 1}
	50% { opacity: 0 }
	100% { opacity: 1 }
}

@-moz-keyframes loadingAnimation {
	0% { opacity: 0.3}
	20% { opactiy: 1 }
	100% { opacity: 1 }
}

@-o-keyframes loadingAnimation {
	0% { opacity: 1}
	50% { opacity: 0 }
	100% { opacity: 1 }
}

@keyframes loadingAnimation {
	0% { opacity: 1}
	50% { opacity: 0 }
	100% { opacity: 1 }
}


/*
	* Palette
*/
.blue{
	color: #12356b !important;
}

.bg-blue{
	background-color: #12356b !important;
}

html, body{
	margin: 0;
	padding: 0;
}

#full-wrapper{
	background-color: #F2F2F2;
}

.title{
	font-size: 1.7em;
	padding: 1em;
	text-align: center;
	font-weight: bold;
}

section{
	display: flex !important;
}

section .container{
	margin: 0 auto;
	padding: 1em;
}

#logo_white, #logo_blue{
	max-width: 60px;
}

header{
	position: fixed;
	z-index: 1000;
	width: 100%;
}

#nav{
	background-color: #12356b !important;
}

#logo_blue{
	display: none;
}

#nav.nav-white{
	background-color: #f0f0f0 !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#aaa));
	background: -webkit-linear-gradient(top, #ffffff, #ffffff, #ffffff,  #aaa);
	background: -moz-linear-gradient(top, #ffffff,#ffffff, #ffffff, #aaa);
	background: -ms-linear-gradient(top, #ffffff, #ffffff, #ffffff, #aaa);
	background: -o-linear-gradient(top, #ffffff, #ffffff, #ffffff, #aaa);
	background: linear-gradient(top, #ffffff, #ffffff, #ffffff, #aaa);

}

#nav.nav-white #logo_white{
	display: none;
}

#nav.nav-white #logo_blue{
	display: inline-block;
}

#nav.nav-white #menu li{
	color: #1f2231;
}

#nav.nav-white .button-collapse{
	color: #12356b !important;
}

.nav-wrapper{
	max-width: 1200px;
	margin: 0 auto;
}

.nav-wrapper li{
	padding-left: 1.2em !important;
	cursor: pointer;
	font-weight: bold;
}

#bg{
	background: url("../img/bg.jpg") no-repeat fixed center ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	border-bottom: 1px solid #393e39;
}

#bg > .override{
	background-color: rgba(0, 0, 0, 0.7);
	color: #ddd ;
	font-size: 2em;
	font-weight: bold;
	position: absolute;
	width: 100%;
}

#bg .center{
	color: #fff !important;
	width: 100%;
	text-align: center;
	text-align: center;
	position: absolute;
	top: 35%;
}

#us{
	border-bottom: 1px solid #393e39;
}

.entity{
	padding-top: 1.5em !important;
}

.entity img{
	max-width: 100%;
	height: 80px;
}

#full-history:hover{
	cursor: pointer;
}

#history-hidden{
	display: none;
}

#direction{
	background-color: #393e39;
}

#direction .title{
	display: table;
	margin: 0 auto;
	font-size: 1.3em;
	border-bottom: 1px solid #666;
	padding-bottom: .2em;
	padding-left: 4em;
	padding-right: 4em;
	margin-bottom: 2em !important;
}

#services{
	background-color: #45bf6f  !important;
}

.service{
	background-color: #393e39;
	border-bottom: 1px solid #393e39;
}

.service-title{
	font-weight: bold;
	margin: 0 auto;
	display: table;
	border-bottom: 1px solid #999;
	padding: 0 1em;
}

.service-description{
	background-color: #cedad9;
	color: #000;
	min-height: 150px !important;
}

.service-team .service-content{
	text-align: center;
}

.service .col{
	padding: 1em !important;
}

#turns{
	background-color: #676f59
}

#turn-form{
	color: #fff;
}

#turn-form label{
	color: #eee;
	font-weight: bold;
}

#turn-form .btn{
	padding: .5em 3em;
	height: 3em;
	font-weight: bold;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

footer{
	background-color: #393e39;
}

#contact-form{
	color: #fff;
}

#contact-form label{
	color: #ddd;
	font-weight: bold;
}

#contact-form .btn{
	padding: .5em 4em;
	height: 3em;
	font-weight: bold;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

#contact-form input, #contact-form textarea{
	border-bottom: 1px solid #666 !important;
}

#contact-form textarea{
	min-height: 117px;
}

.footer-copyright{
	width: 80% !important;
	max-width:800px !important;
	margin: 0 auto;
	padding-top: 1em;
	border-top: 2px solid #444;
}
